//! **************************************************************************
// Written by: Map P.20131013 on Tue Apr 26 20:41:05 2022
//! **************************************************************************

SCHEMATIC START;
COMP "AB_SW<0>" LOCATE = SITE "T4" LEVEL 1;
COMP "AB_SW<1>" LOCATE = SITE "U3" LEVEL 1;
COMP "AB_SW<2>" LOCATE = SITE "T3" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "J2" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "L1" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "M2" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "N2" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "R1" LEVEL 1;
COMP "F_LED_SW<0>" LOCATE = SITE "Y8" LEVEL 1;
COMP "F_LED_SW<1>" LOCATE = SITE "W7" LEVEL 1;
COMP "F_LED_SW<2>" LOCATE = SITE "Y6" LEVEL 1;
COMP "ALU_OP<0>" LOCATE = SITE "Y4" LEVEL 1;
COMP "ALU_OP<1>" LOCATE = SITE "W4" LEVEL 1;
COMP "ALU_OP<2>" LOCATE = SITE "V4" LEVEL 1;
COMP "ALU_OP<3>" LOCATE = SITE "V3" LEVEL 1;
PIN ALU_OP<3>_pin<0> = BEL "ALU_OP<3>" PINNAME PAD;
PIN "ALU_OP<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
SCHEMATIC END;

